:root {
    --max-die-size: 72;
    --max-die-font-size: 36;
}

.die-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.die {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: min(calc(var(--max-die-size) * 1px), 10vh, 20vw);
    max-width: min(calc(var(--max-die-size) * 1px), 10vh, 20vw);
    text-align: center;
    flex: 1 1 100px;
    line-height: 2em;
    border: 2px solid black;
    margin: 2px;
    border-radius: 10%;
}

.die::before {
    content: '';
    padding-top: 100%;
    display: block;
}

.die-text {
    font-size: min(calc(var(--max-die-font-size) * 1px), 5vh, 10vw);
}

.die-clickable {
    cursor: pointer;
}

#board {
    display: flex;
    flex-direction: column;
}