@import "board.css";
@import "base.css";

.found-word {
  height: 2em;
  line-height: 2em;
  margin: 0.5em;
  text-align: center;
}

#game-id-div {
  font-size: small;
}

#timer {
  margin: 1em 0em;
}

#wordlist {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#play-area {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0px;
  padding: 8px 0px;
  background-color: white;
}

#entry {
  display: flex;
  justify-content: center;
  padding: 16px;
}

#timer {
  display: flex;
  justify-content: center;
}